html {
    margin: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;

}


html,
body {
    background-color: #FFFFF;
    font-size: 1.563rem;
    font-family: 'Arvo', serif;
}

.box {
    width: 31.25rem;
    height: 20.625rem;
    border: 3px solid #8AAAE5;
    overflow: hidden;
    margin: 80px auto;
    position: relative;
}


.box img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1);
    transition: all .7s;
}

.box:hover img {
    transform: scale(1.07);
}

.title,
.detail {
    z-index: 1;
    color: #8AAAE5;

    position: absolute;
    display: block;
    bottom: 10%;
    left: 10%;
    font-size: 110%;
    transition: all .7s;
}

.detail,
.box:hover .title {
    opacity: 0;
}

.box:hover .detail {
    opacity: 1;
}

.box:after,
.box:before {
    z-index: 1;
    position: absolute;
    width: 0;
    height: 0;
    content: "";
    background: transparent;
    transition: all .7s;

}

.box:hover:after {
    top: 6%;
    left: 6%;
    border-top: 2px solid white;
    border-left: 2px solid white;
    width: 90%;
    height: 90%;

}

.box:hover:before {
    bottom: 6%;
    right: 6%;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    width: 90%;
    height: 90%;
}
